.carousel-item {
    height: 100vh;
    background: #000;
    color: white;
    position: relative;
    font-weight: bolder;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#bsFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    color: white;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #fd8983;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #ffc1bf;
}

/* Add a background color and some padding around the form */
.formContainer {
    border-radius: 20px;
    background-color: #b4d6ff;
    padding: 20px;
    text-align: center;
    margin: 5% 10% 3% 10%;
}

.totalContainer {
    border-radius: 20px;
    background-color: rgb(255, 254, 193);
    padding: 20px;
    text-align: center;
    margin: 0% 20% 1% 20%;
}

.historyContainer {
    border-radius: 20px;
    background-color: rgb(255, 254, 193);
    padding: 20px;
    margin: 3% 10% 5% 10%;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100vh;
    position: relative;
    background-color: rgb(255, 227, 227);
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input[placeholder] {
    text-align: center;
}

textarea[placeholder] {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    height: 32rem;
}

.internalColumn {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

table {
    border-collapse: separate;
    border: solid #b4d6ff 2px;
    border-radius: 6px;
    background-color: #b4d6ff;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: none;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: rgb(255, 227, 227);
}

tr:hover {
    background-color: rgb(255, 254, 193);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dcecff;
    font-weight: bold;
    border-top: none;
}


.tableStyle {
    margin: 0 auto;
}

.inputClass {
    border: 3px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 217);
    width: 100px;
    font-size: medium;
}

input[type=checkbox] {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
    padding: 10px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

select {
    width: 70px;
    height: 40px;
    text-align: center;
    background-color: #dbffff;
}
